{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

<div class="card shadow p-5">

    <h2 class="text-center mb-4">
        About Notes Management System
    </h2>

    <hr>

    <p>
        The Notes Management System is a simple and secure platform
        designed to help users organize, manage, and access their
        personal notes anytime and anywhere.
    </p>

    <p>
        In today's fast-paced world, keeping track of important
        information, ideas, tasks, and study materials can be
        challenging. This system provides a centralized space where
        users can store and manage their notes efficiently without
        worrying about losing important information.
    </p>

    <h4 class="mt-4">
        Why to  Use Notes Management System?
    </h4>

    <ul>
        <li>Store all your notes in one secure place.</li>
        <li>Access your notes anytime after logging in.</li>
        <li>Quickly search and find important information.</li>
        <li>Keep study materials and personal notes organized.</li>
        <li>Update notes whenever information changes.</li>
        <li>Delete unnecessary notes to keep your workspace clean.</li>
        <li>Protect your account with secure authentication.</li>
    </ul>

    <h4 class="mt-4">
        Key Features
    </h4>

    <ul>
        <li>Secure User Registration and Login</li>
        <li>Email OTP Verification</li>
        <li>Forgot Password Functionality</li>
        <li>Create Notes</li>
        <li>View Notes</li>
        <li>Edit Notes</li>
        <li>Delete Notes</li>
        <li>Search Notes by Title</li>
        <li>Password Encryption for Security</li>
        <li>Responsive and User-Friendly Interface</li>
    </ul>

    <h4 class="mt-4">
        Our Goal
    </h4>

    <p>
        Our goal is to provide users with a reliable, secure, and
        easy-to-use platform for managing their daily notes and
        important information efficiently.
    </p>

</div>


</div>

{% endblock %}
