{% extends 'base.html' %}

{% block content %}

<div class="auth-wrapper">

    <div class="auth-card">

        <h2>Change Password</h2>

        <form method="POST">

            <input type="password"
                   name="current_password"
                   class="form-control mb-3"
                   placeholder="Current Password"
                   required>

            <input type="password"
                   name="new_password"
                   class="form-control mb-3"
                   placeholder="New Password"
                   required>

            <button class="btn-black">
                Update Password
            </button>

        </form>

    </div>

</div>

{% endblock %}