{% extends 'base.html' %}

{% block content %}

<div class="auth-wrapper">

    <div class="auth-card">

        <h2 class="mb-4 text-center">
            Reset Password
        </h2>

        <form method="POST">

            <div class="mb-3">

                <label for="password" class="form-label">
                    New Password
                </label>

                <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control"
                    placeholder="Enter New Password"
                    required
                >

            </div>

            <button type="submit" class="btn-black w-100">
                Update Password
            </button>

        </form>

        <div class="text-center mt-3">

            <a href="/login">
                Back to Login
            </a>

        </div>

    </div>

</div>

{% endblock %}